@model ViewModels.PublicacionEditViewModels
@{
    ViewData["Title"] = "Editar Publicacion";
    ViewData["banner"] = "Editar Publicacion";
    ViewData["controller"] = "PublicacionUsuario";
    ViewData["action"] = "Home";
    Layout = "~/Views/Shared/_LayoutRegistro.cshtml";
}

<body  style="background: #73C8A9; /* fallback for old browsers */ background: -webkit-linear-gradient(to right, #373B44, #73C8A9); /* Chrome 10-25, Safari 5.1-6 */ background: linear-gradient(to right, #373B44, #73C8A9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ ">
        
    <div class="container rounded mx-auto" style="margin-top:80px; width:48rem;">

            <div class="card mt-2 mx-auto shadow-lg p-1 rounded" style="margin-top:2px; width: 48rem;">

                <div class="card-header bg-light">
                    <div class="d-flex justify-content-start d-flex align-items-start p-0">
                        <div class="media">
                            <img src="~/images/fotoPerfil/@Model.FotoPerfil" class="mr-3 rounded-pill" width="40" height="40">
                            <div class="media-body mt-2">
                                <h5 class="mt-0">@Model.Nombre @Model.Apellido</h5>
                            </div>
                        </div>

                    </div>

                    <img src="~/images/fotoPublicacion/@Model.FotoPublicacion" asp-append-version="true" class="card-img-top mx-auto" height="480">
                

                    <div class="card-body">
                        <h5 class="card-title text-black-50 font-weight-bolder font-italic"></h5>
                        <div class="media">
                            <i class="fa fa-pencil-square-o rounded-pill mr-3 mt-1" aria-hidden="true" style="font-size:60px;"></i>
                            <div class="media-body">
                                <form asp-action="EditPb" enctype="multipart/form-data" method="post">

                                    <p class="card-text"><small class="text-muted ml-auto">Fecha de la publicacion: @Model.Fecha</small></p>
                                    <div class="form-group">
                                        <label asp-for="FotoIFormFilePublicacion" class="ml-2"></label>
                                        <input asp-for="FotoIFormFilePublicacion" class="form-control" placeholder="Seleccionar foto" />
                                        <div class="row col-lg-8">
                                            <span asp-validation-for="FotoIFormFilePublicacion" class="text-danger"></span>
                                        </div>
                                    </div>



                                    <div asp-validation-summary="All" class="text-danger"></div>

                                    <label asp-for="Titulo" class="mt-2"></label>
                                    <div class="form-group">
                                        <input asp-for="Titulo" value="@Model.Titulo" class="form-control" placeholder="Ingresar Titulo" required />
                                        <span asp-validation-for="Titulo" class="text-danger"></span>
                                    </div>

                                    <div class="mb-3">
                                        <label asp-for="Cuerpo"></label>
                                        <textarea class="form-control" asp-for="Cuerpo" placeholder="Escribir cuerpo de la publicacion" required>@Model.Cuerpo</textarea>
                                        <span asp-validation-for="Cuerpo" class="text-danger"></span>
                                    </div>

                                    <input type="hidden" asp-for="FotoPerfil" value="@Model.FotoPerfil" />
                                    <input asp-for="FotoPublicacion" value="@Model.FotoPublicacion" type="hidden" />
                                    <input type="hidden" asp-for="IdUsuario" value="@Model.IdUsuario" />
                                  
                                    <button type="submit" class="btn btn-outline-warning btn-lg btn-block">Editar Publicación</button>
                                </form>
                            </div>
                        </div>


                    </div>



                </div>


    </div>


        </div>

</body>
