@model ViewModels.PublicacionUsuarioViewModels
@{
    ViewData["Title"] = "💘Home!";
    Layout = "~/Views/Shared/_LayoutPublicacion.cshtml";
    ViewData["nt"] = ViewBag.usuarioNombre;
    ViewData["activadorHome"] = "active";
    ViewData["activadorFriends"] = "";
    ViewData["perfil"] = ViewBag.PhotoProfile;


}

<body id="login-body" style="background: #373B44; /* fallback for old browsers */ background: -webkit-linear-gradient(to right, #4286f4, #373B44); /* Chrome 10-25, Safari 5.1-6 */ background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ ">
    @*Contenido*@
    <div class="container mx-auto cuerpo-home bg-light border border-white rounded shadow-sm rounded" style="width: 52rem;">

        <div class="table-bordered rounded shadow-sm " style="padding:7px; margin-top:3px; ">
            <div class="p-2 bd-highlight bg-success rounded mb-2">
                <h3 id="hombe-publicar" class="align-items-center">
                    ¿Como te sientes?
                </h3>
            </div>
            <form asp-controller="PublicacionUsuario" asp-action="Home" method="post" enctype="multipart/form-data">

                <div asp-validation-summary="All" class="text-danger"></div>
                <label asp-for="Titulo"></label>
                <div class="form-group">
                    <input asp-for="Titulo" class="form-control" placeholder="Ingresar Titulo" />
                    <span asp-validation-for="Titulo" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Cuerpo"></label>
                    <textarea class="form-control" asp-for="Cuerpo" name="Cuerpo" placeholder="Escribir cuerpo de la publicacion"></textarea>
                    <span asp-validation-for="Cuerpo" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="FotoIformfilePublicacion" class="ml-2"></label>
                    <input asp-for="FotoIformfilePublicacion" class="form-control" placeholder="Seleccionar foto" />
                    <div class="row col-lg-8">
                        <span asp-validation-for="FotoIformfilePublicacion" class="text-danger"></span>
                    </div>
                </div>

                <button type="submit" class="btn btn-outline-info btn-lg btn-block">Publicar</button>

            </form>



        </div>

        <div class="table-bordered rounded mt-2 shadow-sm" style="padding:6px; margin-top:4px; margin-bottom:6px;">
            <div class="bd-highlight rounded text-center" id="bod-publicar"><h3>Mi Publicaciones</h3></div>

            @foreach (var mypublicaciones in Model.ListaPublicacionPlantilla)
            {
                <div class="card mt-2 mx-auto shadow p-1 rounded" style="margin-top:2px; width: 48rem;">

                    <div class="card-header bg-light">
                        <div class="d-flex justify-content-end d-flex align-items-start p-0">
                            <a asp-controller="PublicacionUsuario" asp-action="EditPb" asp-route-id="@mypublicaciones.IdPublicacion" class="btn btn-warning  btn-group-sm p-1">Editar</a>
                            <a asp-controller="PublicacionUsuario" asp-action="DeletePb" asp-route-id="@mypublicaciones.IdPublicacion" class="btn btn-danger btn-group-sm p-1" style="margin-left:10px;">Eliminar</a>
                        </div>

                    </div>

                    <img src="~/images/fotoPublicacion/@mypublicaciones.FotoPublicacion" asp-append-version="true" class="card-img-top mx-auto" height="600">

                    <div class="card-body">
                        <h5 class="card-title text-black-50 font-weight-bolder font-italic">@mypublicaciones.Titulo</h5>
                        <div class="media">
                            <img src="~/images/fotoPerfil/@mypublicaciones.FotoPerfil" class="mr-3 mt-1 rounded-pill" width="40" height="40">
                            <div class="media-body">
                                <h5 class="mt-0">@mypublicaciones.Nombre @mypublicaciones.Apellido</h5>
                                <p class="text-info text-justify">
                                    @mypublicaciones.Cuerpo
                                </p>
                            </div>
                        </div>

                        <p class="card-text"><small class="text-muted ml-auto">@mypublicaciones.Fecha</small></p>

                        @foreach (var comentariosPublicacion in Model.ListaComentarioPlantilla)

                            if (comentariosPublicacion.IdPublicacion == mypublicaciones.IdPublicacion)
                            {
                                <div class="card card-body text-dark ">

                                    <div class="media">
                                        <img src="~/images/fotoPerfil/@comentariosPublicacion.FotoPerfil" class="mr-3 mt-2 rounded-pill" width="60" height="60">
                                        <div class="media-body text-dark h8">
                                            <div class="card-title text-success font-weight-bold mt-0 h6">@comentariosPublicacion.Nombre @comentariosPublicacion.Apellido</div>
                                            @comentariosPublicacion.UserComentario
                                            <p class="card-text"><small class="text-muted small">@comentariosPublicacion.Fecha</small></p>

                                            <p>
                                                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsubcomentarios_@comentariosPublicacion.IdComentario" aria-expanded="false" aria-controls="collapseExample">
                                                    Responder
                                                </button>

                                                <a class="card-link" data-toggle="collapse" href="#COmentario_@comentariosPublicacion.IdComentario" role="button" aria-expanded="false" aria-controls="COmentario_@comentariosPublicacion.IdComentario">
                                                    Ver Respuestas
                                                </a>
                                            </p>

                                            <div class="collapse" id="COmentario_@comentariosPublicacion.IdComentario">

                                                @foreach (var subComentarioMyUser in Model.ListaSubComentarioPlantilla)
                                                {

                                                    if (comentariosPublicacion.IdComentario == subComentarioMyUser.IdComentario)
                                                    {

                                                        <div class="media mt-3">
                                                            <a class="mr-3" href="#">
                                                                <img src="~/images/fotoPerfil/@subComentarioMyUser.FotoPerfil" class="mr-3 mt-2 rounded-pill" width="60" height="60">
                                                            </a>
                                                            <div class="media-body">
                                                                <h6 class="mt-0 font-weight-bold">@subComentarioMyUser.Nombre @subComentarioMyUser.Apellido</h6>
                                                                @subComentarioMyUser.UserComentario
                                                                <p><small class="text-muted small">@subComentarioMyUser.Fecha</small></p>

                                                            </div>
                                                        </div>


                                                    }


                                                }

                                            </div>

                                            <div class="collapse" id="collapsubcomentarios_@comentariosPublicacion.IdComentario">

                                                <div class="card-footer bg-transparent border-info align-items-center">
                                                    <form asp-action="SubComentar" asp-controller="PublicacionUsuario" method="post">
                                                        <div class="form-group row">
                                                            <div class="col-sm-10">
                                                                <input type="hidden" name="IdComentario" value="@comentariosPublicacion.IdComentario" />
                                                                <input name="comentar" placeholder="Escribir Comentario....." class="form-control">
                                                                <span class="text-danger">@ViewBag.Comentare</span>
                                                            </div>
                                                            <button type="submit" class="btn btn-primary col-lg-pull-9">Enviar</button>
                                                        </div>
                                                    </form>
                                                </div>

                                            </div>


                                        </div>


                                    </div>

                                </div>


                            }

                        <div class="card-footer bg-transparent border-info align-items-center">
                            <form asp-action="Comentarios" asp-controller="PublicacionUsuario" method="post">
                                <div class="form-group row">
                                    <div class="col-sm-10">
                                        <input type="hidden" name="idpublicacion" value="@mypublicaciones.IdPublicacion" />
                                        <input name="comentar" placeholder="Escribir Comentario....." class="form-control">
                                        <span class="text-danger">@ViewBag.Comenta</span>
                                    </div>
                                    <button type="submit" class="btn btn-primary col-lg-pull-11">Comentar</button>

                                </div>
                            </form>


                        </div>
                    </div>



                </div>
            }



        </div>

    </div>
</body>
